SINOPEC_BIND=0.0.0.0:8788
SINOPEC_PUBLIC_URL=http://192.168.8.11:8788
SINOPEC_DATA_DIR=/data
SINOPEC_API_TOKEN=
SINOPEC_AUTH_MODE=hybrid
SINOPEC_AUTO_LOGIN=true
SINOPEC_MAX_AUTH_ATTEMPTS=3
SINOPEC_RESEARCH_MODE=false
SINOPEC_DEMO_MODE=false
SINOPEC_ALLOW_AUTO_SUBMIT=false
STEEL_BASE_URL=http://192.168.8.11:13000
STEEL_CDP_URL=ws://192.168.8.11:19223
SCRAPLING_BASE_URL=http://192.168.8.11:8111
RUST_LOG=info
